
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}
.top{
position: absolute;
z-index: 1;
text-align:center;
right: 0;
left: 0;
min-width: 1%;
min-height: 1%;
}
.footnote
{
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  z-index: 1;
  font-size: 16px;
  color:red;
  text-align:center;
  min-width: 1%;
  min-height: 1%;
}
.menu{
  position: absolute;
  margin-top: 200px;
  left:0;
  right:0;
  text-align:center;
  z-index: 1;
  min-width: 1%;
  min-height: 1%;
}
img.startBtn:hover
{
  background:url("images/start2.gif")
}

